.AreaDeLogin{
  width: 490px; /* lagura*/
  height: 42px; /* altura*/
  background-color: var(--caixa-de-texto);
  font-size: var(--tam-4);
  display: flex;
  align-items:center;
  justify-content:start;
  

}
