:root{
  --cor-1:#005766;
  --cor-2:#8C95A5;
  --papel-de-parede:#9AC8D0;
  --cor-4:#005766;
  --cor-5:#003842;
  --cor-6:#00C3E6;
  --botoes:#00A0BD;
  --cor-8:#007E94;
  --caixa-de-texto:#E7EAF3;



  --tam-1: 30;
  --tam-2: 24;
  --tam-2: 16;

}

body{
  font-family: Instrument Sans ;
  background-color: var(--papel-de-parede);
  
}