:root {
  --background-color: #9ac8d0;
  --aside-color: #007e94;
  --text-color: #333;
  --font-size-small: 1em;
  --font-size-large: 1.5em;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size-small);
  padding: 0;
  margin: 0;
}